.main-chat
  .main-header
    .main-header--left-box
      .main-header--left-box__group
        = @group.name
      .main-header-left-box__member-list
        %p Members : 
        - @group.users.each do |user|
          = user.name
    .main-header__edit-btn
      = link_to "Edit", edit_group_path(@group), class: 'main-header__edit-btn__inside'

  .messages
    = render @messages
  
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'